@import 'Inter/font-face.css';

:root {
  --frame: 32px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'calt';
  font-size: 20px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  position: relative;
}

.logo {
  position: absolute;
  top: var(--frame);
  left: var(--frame);
}

main {
  position: absolute;
  top: 20vh;
  left: var(--frame);
  width: calc(84vw - calc(var(--frame) * 2));
  height: 80%;
  display: flex;
  align-items: center;
  font-size: min(7vw, 11vh);
  font-weight: 300;
  line-height: 1.4em;
  overflow: hidden;
}

@media screen and (orientation: landscape) {
  main {
    line-height: 1.3;
    top: calc(20vh - var(--frame));
    left: calc(var(--frame) * 2);
  }
}

p {
  margin: 0;
}

p > span {
  font-weight: 400;
}

p > span > span {
  font-weight: 500;
}

p > span > span > span {
  font-weight: 600;
}

p > span > span > span > span {
  font-weight: 700;
  font-weight: 650;
}

.links {
  position: absolute;
  right: var(--frame);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links.top {
  top: var(--frame);
}

.links.bottom {
  bottom: var(--frame);
}

.links a {
  color: #29282d;
  font-size: 1rem;
  line-height: 1.6rem;
  outline: none;
  text-decoration: none;
}

.links a:hover,
.links a:focus {
  color: #6868ac;
}

::selection {
  background: #6868ac;
  color: white;
}
