@import "Inter/font-face.css";

:root {
  --frame: 32px;

  --coffee: #b3906c;
  --cornsilk: #ecc371;
  --tawny: #d67d70;
  --paradise: #e9435e;
  --flambe: #d65079;
  --fuchsia: #e187b8;
  --very: #6868ac;
  --tourmaline: #85a1ac;
  --bg: #fff;
  --text: #111;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt";
  font-size: 20px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  position: relative;
  background: var(--bg);
}

.logo {
  position: absolute;
  top: var(--frame);
  left: var(--frame);
  color: var(--text);
}

.logo svg {
  fill: none;
}

.logo circle {
  fill: currentColor;
}

.logo path {
  fill: var(--bg);
}

main {
  position: absolute;
  top: calc(20vh - var(--frame));
  left: var(--frame);
  width: calc(84vw - calc(var(--frame) * 2));
  height: 80%;
  display: flex;
  align-items: center;
  font-size: min(7vw, 10vh);
  font-weight: 300;
  line-height: 1.4em;
  overflow: hidden;
}

@media screen and (orientation: landscape) {
  main {
    line-height: 1.3;
    left: calc(var(--frame) * 2);
  }
}

p {
  margin: 0;
  letter-spacing: -0.01em;
}

p > span,
p > a > span {
  font-weight: 400;
}

p > span > span,
p > a > span > span {
  font-weight: 500;
}

p > span > span > span,
p > a > span > span > span {
  font-weight: 600;
}

p > span > span > span > span,
p > a > span > span > span > span {
  font-weight: 700;
  font-weight: 650;
}

p a {
  display: inline-block;
  margin-top: 0.25em;
  color: currentColor;
  text-decoration: none;
  transition: all ease-in 0.3s;
  outline: none;
}

p a:hover,
p a:focus-visible {
  font-weight: 500;
  word-spacing: 0.1em;
  margin-right: 0.3em;
}

.links {
  position: absolute;
  right: var(--frame);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links.top {
  top: calc(var(--frame) - 28px);
}

.links.bottom {
  bottom: calc(var(--frame) - 28px);
}

.links a {
  height: 48px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 32px 0 0;
  line-height: 16px;
  font-size: 16px;
  font-weight: 300;
  color: var(--text);
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.links a:last-of-type {
  margin: 0;
  padding: 0 0 32px;
}

.links.top a:last-of-type,
.links.bottom a:first-of-type {
  font-weight: 400;
}

.links a:hover,
.links a:focus {
  color: var(--paradise);
}

::selection {
  background: var(--flambe);
  color: var(--bg);
}
